:root {
  --side-bar-width: 16rem;
}

body {
  font-family: "Open Sans", sans-serif;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  font-size: large;
  color: #1f1f3d;
}

input {
  width: 100%;
  border-style: solid;
  border-radius: 0.1rem;
  border-color: #5356a4;
}

#title {
  line-height: 250%;
}

#body {
  line-height: 600%;
}

.container {
  display: flex;
  margin: auto -1rem 1rem;
}

.main-content-box {
  display:flex;
  flex-direction:column;
  height: 100vh;
  width: 100vw;
}

.form-box {
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 0.8rem;
  background-color: #a9aad2;
}

.ideas-box {
  flex: 1 1 auto;
  background-color: #eaeaf4;
}

.form-group {
  margin: 1rem;
  width: 50%;
}

.save-form-button {
  border: unset;
  font-size: larger;
  font-weight: bold;
  padding: 1rem;
  width: 102%;
  color: #e9e9f3;
  background-color: #1f1f3d;
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #1f1f3d;
}

.side-bar > h1 {
  font-size: x-large;
  font-weight: bold;
  color: #e9e9f3;
  margin: 1.5rem;
  margin-left: 2rem;
}

.side-bar .filter {
  border-style: solid;
  border-left: unset;
  border-right: unset;
  border-color: #353567;  
}

.side-bar .filter > h2 {
  font-size: medium;
  font-weight: bold;
  color: #bfbfdd;
  margin: 2rem;
  margin-bottom: 0.5rem;
}

.side-bar .filter > button {
  font-size: larger;
  margin: 2rem;
  margin-right: 1rem;
  padding: 0.5rem;
  width: 14rem;
  color: #e9e9f3;
  background-color: #5356a4;
  border: unset;
}